.my-own-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.authors {
  margin-top: 0rem;
  padding-top: 0rem;
}

img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

h3,
h4,
h5,
h6 {
  padding: 0rem;
  margin: 0rem;
}

#type {
  margin-top: 1rem;
  margin-bottom: 0rem;
}
