<div class="card mb-3 mx-auto" style="max-width: 480px">
  <div class="row g-0">
    <div class="col-2">
      <img
        [src]="imageUrl"
        onError="this.src='https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg'"
        class="img-fluid rounded-start"
        alt="..."
        width="100px"
      />
    </div>
    <div class="col-10">
      <div class="card-body">
        <!-- TITLE + SOLD -->
        <h5 class="card-title" *ngIf="!book.sold">
          {{ book.title }}
        </h5>
        <h5 class="card-title" *ngIf="book.sold">
          <span class="text-decoration-line-through">{{ book.title }}</span>
          &nbsp;<span class="text-danger">verkauft</span>
        </h5>

        <!-- Author || Authors -->
        <small>
          <p class="fw-light author" *ngIf="book.author">
            Author: {{ book.author }}
          </p>
          <p class="fw-light author" *ngIf="book.authors">
            Authoren: {{ book.authors }}
          </p>
        </small>

        <!-- Book type -->
        <p class="text-primary" id="type">
          {{ book.type }} | {{ book.publischedDate }}
        </p>

        <!-- Price -->
        <h4>{{ book.price | currency: "EUR" }}</h4>
      </div>
    </div>
  </div>

  <!-- Link to book-single-item (details page) -->
  <button class="btn btn-light" (click)="onSelectedBook()">Details</button>
</div>
