<div *ngIf="selectedBook">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-12 col-lg-3">
        <img
          src="https://filedn.eu/lLxIsbSaF1YQdyIx44x9S8z/images/{{
            selectedBook.isbn
          }}.jpg"
          onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg';"
          class="img-fluid rounded-start"
          alt="..."
          width="250px"
        />
      </div>
      <div class="col-10 col-lg-9">
        <div class="card-body">
          <!-- TITLE + SOLD -->
          <h2 class="card-title" *ngIf="!selectedBook.sold">
            {{ selectedBook.title
            }}<span *ngIf="selectedBook.subtitle"
              >: {{ selectedBook.subtitle }}</span
            >
          </h2>
          <h2 class="card-title" *ngIf="selectedBook.sold">
            <span class="text-decoration-line-through">{{
              selectedBook.title
            }}</span>
            &nbsp;<span class="text-danger">sold</span>
          </h2>

          <!-- Booktype + Year
          <h4 class="card-subtitle text-muted">
            {{ selectedBook.type }} - {{ selectedBook.publishedDate }}
          </h4> -->

          <!-- Authors -->
          <small>
            <p class="fw-light author">Author(s): {{ selectedBook.authors }}</p>
          </small>

          <!-- Content -->
          <div class="col-10">
            <p class="card-text preserve-white-space">
              {{ selectedBook.content }}
            </p>
          </div>

          <!-- Page Count -->
          <p class="card-text spacing-top-1 no-margin-bottom">
            <span class="fw-bold">Pages: </span>
            {{ selectedBook.pageCount }}
          </p>

          <!-- ISBN -->
          <p class="card-text no-margin-top">
            <span class="fw-bold">ISBN: </span>
            {{ selectedBook.isbn }}
          </p>

          <!-- Book type + Year -->
          <p class="text-primary" id="type">
            {{ selectedBook.type }} | {{ selectedBook.publishedDate }}
          </p>

          <!-- Price -->
          <h4>
            {{ selectedBook.price | currency: "EUR" }}
          </h4>
        </div>
      </div>
    </div>

    <!-- Amazon search link -->
    <a (click)="goToLink(selectedBook.isbn)" class="my-own-link"
      ><i class="fab fa-amazon" style="font-size: 2rem"></i>
    </a>

    <!-- Link to book-single-item (details page) -->
  </div>
</div>

<!-- If something went wrong -->
<div *ngIf="!selectedBook">
  <p>
    Bitte wählen Sie ein Buch aus der
    <a [routerLink]="['']"> Liste</a> aus.
  </p>

  <p>Please select a book from the <a [routerLink]="['']">list</a>.</p>
</div>

<div class="row">
  <div class="d-flex justify-content-end mb-3">
    <button
      *ngIf="isUserLoggedIn"
      class="btn btn-info"
      type="button"
      (click)="onEdit()"
    >
      Edit
    </button>
  </div>
</div>

<app-book-edit *ngIf="bookEditing" [book]="selectedBook"></app-book-edit>
