.my-own-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.author {
  margin-top: 0rem;
  padding-top: 0rem;
}

img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0rem;
  margin: 0rem;
}

#type {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

#price {
  color: #0096ff;
}

.spacing-top-1 {
  margin-top: 1rem;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}
