<div class="container">
  <!-- Search for an ISBN -->
  <div class="row">
    <div class="col-4 col-sm-6">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">ISBN:</span>
        <input
          type="text"
          class="form-control"
          placeholder="ISBN here"
          aria-label="isbn"
          aria-describedby="basic-addon1"
          #isbn
        />
      </div>
    </div>
    <div class="col-2">
      <button class="btn btn-primary" (click)="onSearchButtonClick(isbn)">
        Search
      </button>
    </div>
  </div>

  <!-- Card -->
  <app-book-card [book]="fetchedBook" *ngIf="fetchedBook"></app-book-card>

  <!-- Price and type of the book -->
  <div class="row" *ngIf="fetchedBook">
    <form #form="ngForm" (ngSubmit)="onSaveBook(form)">
      <div class="row">
        <!-- Price -->
        <div class="col-3">
          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              name="price"
              ngModel
              (input)="onPriceChange($event)"
            />
            <label for="price">Price</label>
          </div>
        </div>

        <!-- Type -->
        <div class="col-5">
          <div class="form-floating">
            <select
              class="form-select"
              aria-label="Default cl select example"
              name="type"
              ngModel
              (input)="onBookTypeChange($event)"
            >
              <option value="Einband">Hard Cover</option>
              <option value="Taschenbuch">Soft Cover</option>
              <option value="Zeitschrift">Magazine</option>
            </select>
            <label for="type">choose book type</label>
          </div>
        </div>

        <!-- Submit button -->
        <div class="col-2 d-flex flex-column">
          <button class="btn btn-primary mt-auto" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
