<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="!isLoading">
  <!-- Sort By -->
  <div class="row">
    <div class="d-flex justify-content-end mb-3">
      <div class="col-3">
        <select
          class="form-select form-select-sm"
          (change)="sortHandler($event)"
        >
          <option selected value="title asc">Sort by: Title A-Z</option>
          <option value="title desc">Sort by: Title Z-A</option>
          <option value="price asc">Sort by: Price Low to High</option>
          <option value="price desc">Sort by: Price High to Low</option>
          <option value="publishedDate asc">
            Sort by: Publication Date Low to High
          </option>
          <option value="publishedDate desc">
            Sort by: Publication Date High to Low
          </option>
        </select>
      </div>
    </div>
  </div>

  <app-book-card
    [book]="book"
    *ngFor="let book of books | sortBy: [sortField, sortDirection]"
  ></app-book-card>
</div>
